<%= form_with model: @weather, local: true, html: { class: 'weather-form' } do |form| %>
  <% if @weather.errors.any? %>
    <div id="error_explanation" class="error-box">
      <h2><%= pluralize(@weather.errors.count, "error") %> prohibited this weather from being saved:</h2>
      <ul>
      <% @weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zipcode, class: 'form-label' %>
    <%= form.text_field :zipcode, class: 'form-input' %>
  </div>

  <!-- Add additional fields as needed, based on your Weather model's attributes -->

  <div class="actions">
    <%= form.submit 'Update Weather', class: 'form-submit' %>
    <%= link_to 'Back to Index', weathers_path, class: 'form-submit back-button' %>
  </div>
<% end %>